.container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    text-align: center;
    grid-template-areas:
        "title"
        "gameInfo"
        "gameBoard"
        "footer";
}

.title, .footer, #gameBoard, .gameInfo {
    background-color: #666;
    color: #fff;
    padding: .7em;
    margin: .2em;
    border-radius: .2em;
    font-size: 1.5em;
}

.title {
    grid-area: title;
}

.gameInfo {
    grid-area: gameInfo;
    display: grid;
    grid-template-areas: "start timer";
    align-items: center;
}

#start {
    grid-area: start;
}

#timer {
    grid-area: timer;
}

#gameBoard {
    grid-area: gameBoard;
}

.footer {
    grid-area: footer;
}

button, input{
    background-color: #555;
    border: none;
    color: #fff;
    font-size: .8em;
    font-family: Arial;
    padding: .5em;
}

#gameBoard button{
   font-size: 1em;
   color: #fff;
   width: 2em;
   height: 2em;
   font-weight: 800;
}

button:hover, input:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

table {
    margin: auto;
    border-collapse: collapse;
}

td, tr {
    height: 100%;
}

#gameBoard button:not(:empty) {
    animation: .25s shake;
}

@keyframes shake {
    0%   {transform: translateX(1px);}
    10%  {transform: translateX(-2px);}
    20%  {transform: translateX(2px);}
    30%  {transform: translateX(-2px);}
    40%  {transform: translateX(2px);}
    50%  {transform: translateX(-2px);}
    60%  {transform: translateX(2px);}
    70%  {transform: translateX(-2px);}
    80%  {transform: translateX(2px);}
    90%  {transform: translateX(-2px);}
    100% {transform: translateX(1px);}
}

@media (max-width: 550px) {
    #gameBoard button {
        font-size: .9em;
    }
}

@media (max-width: 450px) {
    #gameBoard button {
        font-size: .5em;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
      }
      100% {
        visibility: visible;
        opacity: 1;
      }
}

.modal {
    display: none; /* Hidden by default */
    visibility: hidden;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(211,211,211); /* Fallback color */
    background-color: rgba(211,211,211,0.4); /* Black w/ opacity */
}

.fadeIn {
    animation-name: fade;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.modal-content {
    background-color: #666;
    color: #fff;
    font-size: 150%;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid lightgray;
    width: 40%;
    text-align: center;
}
