.container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    text-align: center;
    grid-template-areas:
        "title"
        "gameInfo"
        "gameBoard"
        "footer";
}

.title, .footer, #gameBoard, .gameInfo {
    background-color: #666;
    color: #fff;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}

.title {
    grid-area: title;
    font-size: 200%;
}

.gameInfo {
    grid-area: gameInfo;
    display: grid;
    grid-template-areas: "start timer";
    font-size: 150%;
    align-items: center;
}

#start {
    grid-area: start;
}

#timer {
    grid-area: timer;
}

#gameBoard {
    grid-area: gameBoard;
}

.footer {
    grid-area: footer;
    font-size: 150%;
}

button, input{
    background-color: #555;
    border: none;
    color: #fff;
    font-size: 80%;
}

#gameBoard button{
   font-size: 150%;
   color: #fff;
   width: 50px;
   height: 50px;
   font-weight: 800;
}

button:hover, input:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

table {
    margin-left:auto;
    margin-right:auto;
}